.header {
 background: var(--header);
 display: flex;
 padding: 20px;
 position: relative;
 align-items: center;
 justify-content: center;
}

.headerInner {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 auto;
 width: var(--content-width);
 max-width: 100%;
}

.logo {
 text-decoration: none;
 display: flex;
 align-items: center;
 flex: 0 0 auto;
 font-weight: 700;
 color: inherit;
}
