.logoMark {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.logoSvg {
  color: var(--logo-color);
  width: 0.95rem;
  height: 100%;
}

.logoSvgPath {
  stroke: currentColor;
  stroke-width: 8px;
}
