/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'),
  url('/fonts/inter-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/inter-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter'),
  url('/fonts/inter-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/inter-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'),
  url('/fonts/inter-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/inter-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --nav-bottom-border: rgb(210, 226, 209);
  --content-width: 760px;
  --common-font: 'Inter', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  --background: #fff;
  --color: #222;
  --background-secondary: #eaeaea;
  --header: #fafafa;
  --color-secondary: #999;
  --border-color: #dcdcdc;
  --logo-color: #00c569;
  --logo-text-color: #00b15e;
}

$minBreakpoint: 683px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--common-font);
  font-size: 1rem;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  line-height: 1.54;
  font-weight: 500;
  background-color: var(--background);
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a.sharedLink {
  text-decoration: underline;

  &:hover {
    color: black;
  }
}

.subtleShadow {
  text-shadow: 2px 3px 5px rgba(231, 231, 231, 0.5);
}

@media (max-width: 683px) {
  .media-desktop {
    display: none !important;
  }
}

@media (min-width: 684px) {
  .media-mobile {
    display: none;
  }
}
